# Browserslist configuration for modern browsers only
# This removes unnecessary polyfills

# Production browsers
[production]
last 2 Chrome versions
last 2 Firefox versions
last 2 Safari versions
last 2 Edge versions
not dead
not < 0.2%

# Development can be more permissive
[development]
last 1 Chrome version
last 1 Firefox version
last 1 Safari version